@import url('https://fonts.googleapis.com/css?family=Orbitron:500,700');

body {
  margin: 0;
  padding: 0;
  background: url('../img/bg_universe.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Orbitron',
    sans-serif;
  color: white;
  min-height: 100vh;
}

#canvas {
  background-color: transparent;
}

.canvas-bg {
  background-image: url('../img/blue_nebula.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

.canvas-bg-animated {
  width: 1920px;
  height: 800px;
  background: url('../img/debris.png');
  background-repeat: repeat;
  animation: slide 120s linear infinite;

}

#score {

  padding-left: 2rem;
}

.sizing {
  width: 1200px;
  height: 800px;
}


@keyframes slide {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-1280px, 0);
  }
}

#timer {
  flex-grow: 1;
  text-align: center;
}

.info-container {
  display: flex;
  justify-content: space-between;
}

.progress-bar-wrapper {
  display: flex;
  width: 33.33%;
}

.progress-bar {
  width: 200px;
  border: 3px solid white;
  height: 30px;
  margin: 1.4rem 1.4rem 0 1rem;
}

.progress-bar>div {
  background: lime;
  height: 100%;
}


.content {
  display: none;
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.content>* {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu {
  display: flex;
  padding: 3rem;
  font-size: 2rem;
  border-radius: .5rem;
  flex-direction: column;
  background: linear-gradient(rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%);
}

.menu-wrapper {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 800px;
  height: 800px;
  transform: translate(-50%, -50%);
}

#options {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 800px;
  transform: translate(-50%, -50%);
  z-index: 100;
  text-align: center;
  background: black;
}

input {
  display: none;
}

label {
  text-transform: uppercase;
  margin: 1rem;
  display: block;
  text-align: center;
}

input[type=radio]+label {
  color: #ddd;
  text-shadow: 0 0 0.1em #72D4FF, 0 0 0.1em #72D4FF,
    0 0 0.1em #72D4FF;
  transition: all 0.1s ease-in;
}

input[type=radio]:checked+label {

  color: white;

  animation: glow .5s ease-out alternate infinite;
}

@keyframes glow {
  0% {
    text-shadow: 0 0 0.3em #FF7575, 0 0 0.3em #FF7575,
      0 0 0.3em #FF7575;
  }

  100% {
    text-shadow: 0 0 0.1em #FF7575, 0 0 0.1em #FF7575,
      0 0 0.1em #FF7575;
  }
}

h1 {
  font-size: 2.4rem;
  white-space: nowrap;
  text-align: center;
}

.player-info {
  font-size: 1.6rem;
}