@import url('https://fonts.googleapis.com/css?family=Orbitron:500,700');

body {
  background-color: aquamarine;
  font-family: 'Orbitron',
    sans-serif;
  color: white;
}

#canvas {
  background-color: transparent;
}

.canvas-bg {
  background-image: url('../img/blue_nebula.png');
  overflow: hidden;
}

.canvas-bg-animated {
  width: 1920px;
  height: 800px;
  background: url('../img/debris.png');
  background-repeat: repeat;
  animation: slide 120s linear infinite;

}

body>* {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#score {
  font-weight: 500;
  padding-left: 2rem;
}

.sizing {
  width: 1200px;
  height: 800px;
}


@keyframes slide {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-1280px, 0);
  }
}

#score {
  z-index: 100;
}